.l-constrained.l-inner
  .l-main
    %h1 Prototypes
    %hr

    %p
      Since the layouts adapt to different size viewports, be sure to evaluate them across PC's, phones, and tablets.

    -# Home
    %h3 Home Page
    %p Home page gallery. <em>#{link_to "view", root_url}</em>
    
    -# Page
    %h3 Pages
    %p Layout for general pages such as <em>Visit Us</em>, <em>Contact Us</em>, and <em>FAQ</em>. <em>#{link_to "view", "/prototypes/page"}</em>

    -# Shop
    %h3 Shop
    %p List of products. <em>#{link_to "view", "/prototypes/shop"}</em>

    -# Product
    %h3 Product
    %p Single product in the shop. <em>#{link_to "view", "/prototypes/product"}</em>
