// Basic Elements
body {
  background: #fff asset-url("bg1.jpg", image) no-repeat center center fixed;
  background-size: cover;
  font-family: $typeface-serif;
  text-shadow: 1px 1px 1px transparent;
}

a {
  @include transition (all 0.2s ease-in-out);
}

p, a, h1, h2, h3, h4, h5, label {
  font-family: inherit;
}

h1 {}

h2 {}

h3 {}

h4 {}

h5 {}

h6 {}

p {}

img {
  display: block;
  width: 100%;
}
