// Basic Elements
body {
  padding-top: 4em;
  background: $off-white;
  font-family: $typeface-serif;
  text-shadow: 1px 1px 1px transparent;
}

a {
  @include transition (all 0.2s ease-in-out);
}

p, a, h1, h2, h3, h4, h5, label {
  font-family: inherit;
}

h1 {}

h2 {}

h3 {}

h4 {}

h5 {}

h6 {}

p {
  font-size: 1.2em;

  a {
    color: $gold;
    &:visited,
    &:hover {
      color: $gold;
    }
  }
}

img {
  display: block;
  width: 100%;
}
