// Typefaces
$typeface-sans:  "proxima-nova-condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
$typeface-serif: "ff-quadraat-web", Georgia, Cambria, "Times New Roman", Times, serif;
$typeface-serif-sc: "ff-quadraat-sc-web", "ff-quadraat-web", Georgia, Cambria, "Times New Roman", Times, serif;
