.m-grid-gallery
  - (1..5).each do |position|
    .photo{ class: "position-#{position}" }= image_tag "bg4.jpg"
.m-grid-gallery
  - (1..5).each do |position|
    .photo{ class: "position-#{position}" }= image_tag "bg2.jpg"
