.l-constrained
  %ul
    %h3
      %li= link_to "Example #1: Full Background", "/background"
      %li= link_to "Example #2: Continuously Horizontal", "/horizontal"
      %li= link_to "Example #3: Grid Gallery (like Jordan)", "/grid"
