.l-inner
  .m-gallery
    - (1..5).each do |position|
      .gallery-photo{ class: "position-#{position}" }= image_tag "placeholders/portrait#{position}.jpg"
  .m-gallery
    - (1..5).each do |position|
      .gallery-photo{ class: "position-#{position}" }= image_tag "placeholders/landscape#{position}.jpg"
