#l-footer {
  padding: 1em 0 3em;
  background: $gold;
  @include radial-gradient($gold, darken($gold, 5%));
  
  li a {
    color: $white;
    text-shadow: 0 -1px 1px darken($gold, 10%);
    font-size: 87.5%;
    }
  li a:visited { color: $white;}
  li a:hover { color: darken($white, 10%);}
  li a:active { color: darken($white, 25%);}
  
  .wrap {
    @include outer-container;
    padding: 0.5em $page-gutter;
  }

  .logo-wrap {
    margin-bottom: 2em;
    img { width: 100%; }
  }

  .logo {
    width: 15em;
    margin: 0 auto;
  }

  ul {
    list-style: none;
    margin: 0;
    text-align: center;
    color: $white;
    text-shadow: 0 -1px 1px darken($gold, 10%);
    font-size: 1em;
    }

  li {
    display: inline-block;
    margin: 0;
    font-style: italic;
  }

  .icon {
    margin-left: 0.5em;
    font-size: 1em;
    &:first-child { margin-right: 0.25em; }
  }

  @include media-ie($breakpoint-ipad) {
    li { font-size: 1.5em;}
    .icon { font-size: 1.75em;}
  }

  @include media-ie($breakpoint-desktop) {
    .logo-wrap {
      float: left;
      margin-bottom: 0;
    }

    .logo { margin: 0; }

    ul { text-align: right; }
  }
}

// Alternate Footer Layout
.alternate-footer #l-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0;
  margin-top: 0;

  .logo-wrap {
    position: absolute;
    bottom: 100%;
    left: 0;
    float: none;
    width: 100%;
    margin: 0;
  }

  .logo {
    width: 15em;
    margin: 0 auto 0.75em;
  }

  @include media-ie($breakpoint-desktop) {
    .wrap { position: relative; }

    .logo-wrap {
      @include clearfix;
      right: $page-gutter;
      width: auto;
    }

    .logo {
      float: right;
      margin: 0 0 0.75em;
    }
  }
}
