#l-footer {
  padding: 0 0 1em;
  background: $white;
  color: $gold;
  @include ie-width;
  
  .wrap {
    @include outer-container;
    padding: 0.5em $page-gutter;
  }

  ul {
    list-style: none;
    margin: 0;
    font-size: 1em;
    text-align: center;
    text-shadow: 0 1px 1px lighten($white, 10%);
  }

  li {
    display: inline-block;
    margin: 0;
    font-size: 0.875em;
    font-style: italic;
  }

  a {
    color: $gold;
    text-shadow: 0 1px 1px lighten($white, 10%);
    &:visited { color: $gold; }
    &:hover { color: $wine}
    &:active { color: darken($wine, 15%); }
  }

  .icon {
    margin-left: 0.5em;
    font-size: 1em;
    &:first-child { margin-right: 0.25em; }
  }


  @include media($breakpoint-ipad) {
    .logo {
      float: left;
      margin-bottom: 0;
    }

    ul {
      float: right;
    }

    li {
      font-size: 1em;
    }

    .icon {
      font-size: 1.25em;
    }
  }

  @include media-ie($breakpoint-desktop) {
    .logo {
      float: left;
      margin: 0;
    }
  }
}
