#l-footer {
  padding: 1em 0 3em;
  background: $gold;
  @include radial-gradient($gold, darken($gold, 5%));
  color: $white;
  
  .wrap {
    @include outer-container;
    padding: 0.5em $page-gutter;
  }

  .logo {
    width: 2.5em;
    margin: 0 auto 2em;
    img { width: 100%; }
  }

  ul {
    list-style: none;
    margin: 0;
    font-size: 1em;
    text-align: center;
    text-shadow: 0 -1px 1px darken($gold, 10%);
  }

  li {
    display: inline-block;
    margin: 0;
    font-size: 0.875em;
    font-style: italic;
  }

  a {
    color: $white;
    text-shadow: 0 -1px 1px darken($gold, 10%);
    &:visited { color: $white; }
    &:hover { color: darken($white, 10%); }
    &:active { color: darken($white, 25%); }
  }

  .icon {
    margin-left: 0.5em;
    font-size: 1em;
    &:first-child { margin-right: 0.25em; }
  }

  .developed {
    clear: both;
    margin-top: 1em;
    font-size: 0.8125em;
    text-align: center;
  }

  @include media($breakpoint-ipad) {
    .logo {
      float: left;
      margin-bottom: 0;
    }

    ul {
      float: right;
    }

    li {
      font-size: 1.3125em;
    }

    .icon {
      font-size: 1.75em;
    }

    .developed {
      text-align: right;
    }
  }

  @include media-ie($breakpoint-desktop) {
    .logo {
      float: left;
      margin: 0;
    }
  }
}

// Alternate Footer Layout
.alternate-footer #l-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0;
  margin-top: 0;

  .logo {
    display: none;
    float: left;
    width: 1em;
    margin: 0;
  }

  @include media-ie(480px) {
    .logo {
      display: block;
    }

    ul {
      float: right;
    }
  }

  @include media-ie($breakpoint-ipad) {
    .logo {
      width: 2em;
    }
  }
}
