.l-products-grid {
  @include row;

  .m-product {
    @include media(480px) {
      @include span-columns(6);
      @include omega(2n);
    }

    @include media(1000px) {
      @include span-columns(4);
      @include omega(3n);
    }

    @include media-ie {
      float: left;
      width: 31%;
      margin: 1em 1.166666667% 3em;
    }
  }
}

.l-product-single {
  @include row;

  @include media-ie($breakpoint-ipad) {
    .m-product {
      @include span-columns(4);
    }

    .m-product-overview {
      @include span-columns(8);
    }
  }
}

// Product profile detail
.l-product-profile {
  @include row;
  margin-bottom: 1em;

  @include media-ie(650px) {
    .m-product-description {
      @include span-columns(6)
    }

    .m-product-specs {
      @include span-columns(6)
    }
  }
}
