.l-products {
  .l-product {
    border-bottom: 1px solid lighten($gold, 35%);
    &:last-child {
      border-bottom: none;
    }
  }
}

// General product info
.l-product {
  @include row;
  margin-bottom: 1em;

  .m-product-image {
    max-width: 20em;
  }

  @include media-ie(480px) {
    .m-product-image {
      @include span-columns(4);
    }

    .m-product-overview {
      @include span-columns(8);
    }
  }
}

// Product profile detail
.l-product-profile {
  @include row;
  margin-bottom: 1em;

  @include media-ie(650px) {
    .m-product-description {
      @include span-columns(6)
    }

    .m-product-specs {
      @include span-columns(6)
    }
  }
}
