.m-account {
  @include span-columns(12);
  display: none;

  ul {
    list-style: none;
  }

  li {
    float: right;
    display: inline;
    font-size: 0.75em;
    text-align: right;
  }
  
  @include media($breakpoint-ipad) {
    display: block;
  }
}
