.m-content {
  img {
    @include image-frame;
    display: none;
  }

  p {
    text-align: justify;
  }
  
  @include media-ie($breakpoint-ipad) {
    img {
      display: block;
      width: 45% !important;
      margin: 1em;
    }
  }
}
