.m-menu {
  color: $black;
  text-shadow: 0 1px 1px #fff;
  text-transform: uppercase;

  .logo {
    float: left;
    img { max-width: 3em; }
  }

  .toggle {
    float: right;
    margin: 0.6em 0 0;
    font-size: 1.25em;
    text-transform: uppercase;
  }

  ul {
    display: none;
    list-style: none;
    clear: both;
    margin: 0;
    font-size: 1.25em;
    text-align: center;
  }

  li {
    display: block;
    margin: 0.75em 0;
  }

  a:hover { color: $gold; }
  a:active { color: darken($gold, 15%); }

  @include media-ie($breakpoint-desktop) {
    .toggle {
      display: none;
      font-size: 1em;
    }

    ul {
      display: block;
      clear: none;
      font-size: 1em;
      text-align: left;
    }

    li {
      display: inline-block;
      margin: 1em 0 1em 1.5em;
      &:first-child { margin-left: 0; }
    }
  }
}
