.m-menu {
  @include outer-container;
  padding: 0.5em $page-gutter;
  color: $gold;
  font-family: $typeface-serif-sc;
  text-shadow: 0 1px 1px lighten($white, 25%);

  .logo {
    float: left;
    width: 11em;
    img { width: 100%; }
  }

  .toggle {
    float: right;
    margin: 0.625em 0 0;
    font-size: 1.25em;
  }

  ul {
    display: none;
    list-style: none;
    clear: both;
    padding: 0.5em 0 0;
    margin: 0;
    font-size: 1.25em;
    text-align: center;
  }

  li {
    display: block;
    margin: 0.75em 0;
  }
  
  a { color: $gold;}
  a:visited { color: $gold;}
  a:hover { color: $wine;}
  a:active { color: darken($wine, 15%);}
  
  @include media-ie($breakpoint-desktop) {
    .logo {
      float: left;
      margin-right: 1em;
    }

    .toggle {
      display: none;
    }

    ul {
      clear: none;
      float: left;
      display: block !important;
      padding: 0;
      font-size: 1em;
      text-align: left;
    }

    li {
      display: inline-block;
      margin: 1em 0 0 1em;
      &:first-child { margin-left: 0; }
    }
  }

  @include media(1024px) {
    .logo {
      margin-right: 1.5em;
    }

    ul {
      font-size: 1em;
    }

    li {
      margin: 1em 0 0 2em;
    }
  }
}
