.m-subnav {
  ul { margin: 0; }

  li {
    list-style: none;
    border-bottom: 1px solid $gold;
    font-family: $typeface-serif-sc;
    text-shadow: 0 1px 1px lighten($off-white, 15%);

    &:last-child {
      border-bottom: none;
    }
    
    a,
    a:visited {
      color: $wine;
    }
    
    a:hover {
      color: darken($wine, 10%);
    }
    
    a:active {
      color: darken($wine, 25%);
    }
  }
  
  @include media-ie($breakpoint-desktop) {
    li {
      font-size: 1.5em;
    }
  }
}
